.fa-pencil,
.fa-trash-o {
    color: black;
}

.fa-person-plus-fill{
    color: blanchedalmond;
}
.table {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    text-align: center;
}

.dav {
    margin-left: 25%;
}


